<header>
  <%= link_to groups_path, class: 'back-btn' do %>
    <ion-icon name="arrow-back" class="settings-btn"></ion-icon>
  <% end %>
  <h1 class="page-title">New Category</h1>
  <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "sign-out" %>
</header>

<%= form_with model: @new_group, data: { turbo: false } do |f| %>
<section class="fields">
  <div class="field">
    <%= f.text_field :name, placeholder: "Name" %>
  </div>

  <div class="field">
    <%= f.text_field :icon, placeholder: "Icon URL" %>
  </div>
  
  <%= f.hidden_field :user_id, value: current_user.id %>
  
  <%= f.submit "CREATE", class: "btton" %>
  </section>
<% end %>
